[submodule "premake-plugins/cmake"]
	path = premake-plugins/cmake
	url = git@github.com:Jarod42/premake-cmake.git
[submodule "library/development/check"]
	path = library/development/check
	url = https://github.com/libcheck/check.git
